@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables */
:root {
  --grid-color: #0f172a;
  --page-background: #f8fafc;
  --page-foreground: #0f172a;
}

.dark {
  --grid-color: #ffffff;
  --page-background: #020617;
  --page-foreground: #f8fafc;
}

html {
  scroll-behavior: smooth;
  background: var(--page-background);
  color: var(--page-foreground);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--page-background);
  color: var(--page-foreground);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  box-sizing: border-box;
}