@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables */
:root {
  --grid-color: #0f172a;
}

.dark {
  --grid-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #020617;
  color: #f8fafc;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  box-sizing: border-box;
}

/* Light mode */
html:not(.dark) body {
  background: #f8fafc;
  color: #0f172a;
}